body {
    height: 100vh;
    background: linear-gradient(to top, #ffe79c 0%, #ace0f9 80%);
    font-family: 'Montserrat', sans-serif;
    color: #808080;
}

h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 100px auto;
}

.weather-app-container {
    display: block;
    padding: 40px;

    border: 1px solid #dadde1;
    border-radius: 15px;
    background-color: #ffffff;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    width: 80px;
    height: 80px;
    font-weight: 500;
}

.humidity {
    margin-left: 4rem;
}

.weather-temperature strong {
    font-size: 64px;
    color: #333333;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}

.weather-temperature a{
    font-weight: 500;
    text-decoration: none;
    transition: all .2s ease-in;
}

.weather-temperature .active {
    color: #808080;
    cursor: default;
    font-weight: 400;

    transition: all .2s ease-in;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 10px;
    text-align: center;

    color: #808080;
}

.weather-forecast-day {
    font-size: 16px;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.weather-forecast-temperature-max {
    color: #333333 ;
}

.credits {
    font-size: 12px;
    color: white;
}

.credits-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: all .2s ease-in;
}

.credits-link:hover {
    color: #878787;
    text-decoration: underline;
}